## Question 1

1. What is the printed message of the code below?

---
```python
import numpy as np

x = np.array([0, 1, 2, 3])
y = np.array([1, 2, 1, 2])
z = 3.5*x + y*(1-x)

print(z[2])
```
---

    A. 1.0
    B. 3.5
    C. 6.0
    D. 6.5

<br>

2. What is the printed message of the code below?

---
```python
import numpy as np

an_array = np.array([[1, 2], 
                     [3, 4]])
result = an_array.sum() - an_array.sum(axis=1)
print(result)

```
---

    A. 0
    B. [1, -1]
    C. [6, 4]
    D. [7, 3]

<br>

3. What is the printed message of the code below?

---
```python
import numpy as np

x = np.array([[1, 2],    
              [2, 3.5],     
              [5, 6.5]])
y = np.array([1, 0.5])
z = x.max() - (x*y).sum(axis=0)

print(z[0])
```
---

    A. 1.5
    B. 0.5
    C. -0.5
    D. -1.5

## Question 2

PUBG is an online game where $n$ players are killing each others and the final survivor is the winner. If each player is equally good, we can prove that the expected number of kills made by the winner is $1 + 1/2 + 1/3 + ... + 1/(n-1)$.

1. What is expected number of kills if there are totally $n=60$ players?

**Solution**:

2. Visualize the expected number of kills under different numbers of players. You may use the `cumsum()` function imported from the NumPy package to calculate the cumulative sum of data items in an array, so that there is no need to use a `for`-loop.

**Solution**:

## Question 3

Consider a naturally occurring collection of numbers, such as the GDP of all countries in a given year, or the financial data of a company, what is the distribution of the first digit of these numbers? 

Our first intuition may tell us that all digits should have equal probability to appear, thus following a uniform distribution. However, the [Benford's law](https://en.wikipedia.org/wiki/Benford%27s_law) suggests that smaller digits have a higher probability to occur. Let $d$ be the first digit, then the occurring probability $p$ can be approximately expressed by
$$
p = \log_{10}\left(1 + \frac{1}{d}\right), ~~ d=1, 2, ..., 9
$$

In this exercise, we are using data visualization to verify that the GDP of different countries in a particular year roughly follows the equation given by the Benford's law.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

gdp = pd.read_csv('gdp.csv')            # Read the dataset
gdp

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,3.223912e+10,3.351455e+10,...,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12
2,Afghanistan,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,1.442604e+10,...,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540134e+10,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10
263,South Africa,ZAF,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,1.421139e+10,1.582139e+10,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11
264,Zambia,ZMB,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10
265,Zimbabwe,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10

1. In the first step, we select one year from the dataset. Please note that the GDP for some countries are missing, and we will ignore them in the subsequent analysis. 

**Solution**:

In [2]:
year = 2010                             # Choose a year

2. The next step is to retrieve the first digit of the GDP numbers, and calculate the counts (or percentage) of cases with each of the first digits.

**Solution**:

3. In this section, we use the equation of Benford's law to calculate the corresponding probability <code>p</code> for all possible first digits <code>d</code>. Note that <code>d</code> can be written as an array running from 1 to 9, and the probability <code>p</code> can be calculated by applying the equation to all elements in the array.

**Solution**:

4. Please plot 1) the curve of the theoretical probability distribution given by the Benford's law; and 2) the actual distribution of the first digit of GDP numbers, in the same chart, so that we can compare the two for verifying the Benford's law. 

**Solution**:

## Question 4

The dataset `wage` provides information on a number of working individuals in the year of 1976.

In [3]:
wage = pd.read_csv('wage.csv')
wage

      wage  educ  exper gender  married
0     3.10  11.0    2.0      F    False
1     3.24  12.0   22.0      F     True
2     3.00  11.0    2.0      M    False
3     6.00   8.0   44.0      M     True
4     5.30  12.0    7.0      M     True
..     ...   ...    ...    ...      ...
521  15.00  16.0   14.0      F     True
522   2.27  10.0    2.0      F    False
523   4.67  15.0   13.0      M     True
524  11.56  16.0    5.0      M     True
525   3.50  14.0    5.0      F    False

[526 rows x 5 columns]

Use histograms to compare the distributions of wages of male workers and female workers. Please note that in order to make a fair comparison, we need to make sure that the two histograms have the same width of bins. You may use the docstring of the `hist()` function to explore how to specify the width of bins. 

**Solution**: